/* Se usa "!important" para pisar el estilo de BootsTrap */


.colorFondo{
    background-color: black;
}


/* Cambia el color del nombre en el modal */
.titleModal{
    color: green;
    text-align: center;
    width: 100%;
}

/* Cambia el color del nombre fuera del modal */
.nameCharacter{
    color: green;
    margin-top: 30px;
    margin-bottom: 60px;
}

/* Pone dentro del modal margen entre imagen y texto */
.marginModal{
    margin-bottom: 20px;
}

/* Dar color de fondo a la carta y centra imagen y texto */
.modal-body{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: green;
}


.title{
    margin-top: 2%;
    margin-left: 40%;
    margin-bottom: 60px;
    color: green
}

.colorBotones{
    color: black !important;
    background-color: green !important;
}

/* Pone las cartas una al lado de la otra */
#personajes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 50% !important;
}

/* Cambia el color del texto de Buscar por nombre */
.barraBusqueda::placeholder {
    color: black !important;
}

.filtros{
    height: 40px;
    border-color: green !important;
    background-color: green !important;
    color: black !important;
    text-align: center;
}

.barraBusqueda{
    height: 40px;
    border-color: green !important;
    background-color: green !important;
    text-align: center;
}

.card{
    background-color: black !important;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Ajustar el logo */
.imgLogo{
    display: flex;
    margin-top: -1px;
    margin-bottom: -60px;
    margin-left: 25%;
    height: 300px ;
    width: 50%;
}


/* Saca los bordes del modal */
.btn-primary {
    background-color: black !important;
    border-color: black !important;
}

/* Pone la imagen redonda */
.imgCard{
    border-radius: 50%;
}

/* Cambia el color de buscar (fondo y letras) */
.btn-outline-success {
    color: black;
    --bs-btn-hover-bg: green !important;
    --bs-btn-hover-border-color: green !important;
    --bs-btn-hover-color: black !important;
    --bs-btn-active-bg: green !important;
}

/* Cambia el borde de la imagen dentro del modal */
.marginModal {
    border-radius: 5%;
}

/* Aumenta el tamaño de la imagen cuando pasa el mouse por arriba */
.imgCard:hover {
    transform: scale(1.4); 
}

.btn-close {
    background-color: green !important;
}

.modal-header{
    margin-bottom: -1px;
    background-color: black;
}

/* Pequeño desenfoque en el fondo cuando se abre el modal */
.modal-backdrop.show {
    backdrop-filter: blur(50px); /* Ajusta el valor según sea necesario */
    background-color: rgba(0, 0, 0, -0.1); /* Negro semi-transparente */
}

